body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f2f4f3;
}
/*----------------------------------------NAVBAR--------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(73, 17, 28, 0.5);
  z-index: 900;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: #fefefe;
  text-shadow: 5px 5px 10px #a9927d;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav ul li a {
  padding: 10px 20px;
  font-size: 1.5rem;
  text-decoration: none !important;
  color: #fefefe;
  font-weight: 600;
}

header h2 {
  font-size: 2rem;
}

/*-----------------------------------ABOUT----------------------------------------------------------------*/
section > h1 {
  font-size: 2.2rem;
  text-align: center;
  color: #0a0908;
}
section {
  margin: 10vh 0px;
  padding: 0px 5vw;
}
section p:nth-child(2) {
  padding: 10px 10vw;
  font-size: 1.3rem;
  text-align: center;
  color: #5e503f;
}

/*----------------------------------------------TOP SLIDER----------------------------------------------------------------------- */

main {
  overflow: hidden;
  min-height: fit-content;
  max-height: 100vh;
}
main figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
main figure img {
  min-width: 20%;
  min-height: 100vh;
  float: left;
  filter: brightness(0.7);
}

.logo img {
  position: absolute;
  /* z-index: 1000; */
  top: calc(45vh - 10px);
  left: calc(42vw - 2vw);
  filter: brightness(1.5);
  height: 15vh;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/*---------------------------------------------------CARDS----------------------------------------------------------------- */
.cardGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 245px;
  max-width: 400px;
  padding: 20px 15px;
  border: 1px solid #5e503f;
  border-radius: 30px;
  margin: 10px 5px;
  box-shadow: 0px 0px 20px #a9927d;
}
.card img {
  max-width: 240px;
  min-width: 100%;
  height: 30vh;
}
.card h2 {
  font-size: 1.3rem;
  color: #0a0908;
}
.card h3 {
  font-size: 1.2rem;
  color: #0a0908;
}
.card p {
  font-size: 1.1rem;
  text-align: justify;
  color: #49111c;
}
.card button {
  min-width: 60%;
  align-self: center;
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  background: transparent;
  font-size: 1.1rem;
  font-weight: 600;
  color: #49111c;
  outline: none;
  border-color: #49111c;
}

/*-------------------------------------------CONTACT----------------------------------------------------------------*/
.contactDiv {
  background-color: #a9927d;
  color: #49111c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;
  border-radius: 40px;
}
.contactDiv img {
  max-width: 400px;
  min-width: 250px;
  padding: 10px;
}
.contactDiv .form {
  padding: 20px;
}
.form form {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 40vw;
}
.form input,
textarea {
  padding: 5px 10px;
  font-size: 1.2rem;
  margin: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #49111c;
}
.form input[type="button"] {
  min-width: 70% !important;
  background-color: #49111c;
  color: #f2f2f2;
  height: 50px;
}

/*---------------------------------------------FOOTER---------------------------------------------------------------*/
#footer {
  background: rgba(73, 17, 28, 0.8);
  padding: 30px 10px 10px 10px;
}
.socialLinks ion-icon {
  font-size: 2.5rem;
  color: #f2f4f3;
  padding: 5px;
}
.socialLinks {
  text-align: center;
}
.socialLinks ion-icon:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #a9927d;
}
#footer p {
  margin: 0;
  margin-top: 15px;
  color: #f2f2f2;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px 10px #a9927d;
}

/*---------------------------MEDIA QUERIES------------------------------------------------*/
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .contactDiv {
    padding: 30px 10px;
  }
  .contactDiv .form {
    padding: 0px;
  }
  .form form {
    max-width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .contactDiv img {
    max-width: 320px;
  }
}

@media screen and (max-width: 500px) {
  .logo img {
    left: calc(15vw - 2vw);
  }
  .contactDiv img {
    max-width: 260px;
  }
}
