body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1612972806701-9cffb7470ed2?ixlib=rb-1.2.1&ixid=fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 450px;
  width: 300px;
  border-radius: 25px;
  background-color: rgba(240, 248, 255, 0.6);
  /* opacity: 0.6; */
  color: black;
}

button {
  background-color: darkgrey;
  width: 80%;
  color: black;
  border: none;
  outline: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 1.1rem;
}

input {
  outline: none;
  background-color: black;
  color: greenyellow;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 15px;
  text-transform: uppercase;
}

#details {
  background-color: rgba(212, 209, 209, 0.9);
  margin: 10px 0px;
  width: 90%;
  border-radius: 18px;
}

#details p {
  color: #023e8a;
  font-weight: bold;
  font-size: 1.2rem;
}

#description {
  text-transform: capitalize;
}

#temperature {
  font-size: 2.5rem !important;
  text-shadow: 4px 4px 3px lightcyan;
  font-weight: bolder;
}
#minMax,
#wind {
  font-weight: 500 !important;
}
